.selected_attr {
    border:2px solid #35260c;
    transition: border 2s ease;
}

.response-box {
        font-size: 20px;
        font-weight: 500;
        height: max-content;
        width: 90%;
        padding: 10px;

}

.warning {
    background: #ca8b8b;
    color: #dd0b0b;
}

.success {
    background: #b6e1ac;
    color: #0c7905;
}


/* product details */





/* advance filter css */

.active_filter_btn {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-white-color);
}


/* User Dashboard */

.profile_image {
    width: 100px;
    height: 100px;

}

.profile_image>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* User Dashboard end*/
